header, nav, main, footer {
    display: block;
}

body {
    background-image: url("images/background.jpg");
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #000033;
    min-width: 600px;
    max-width: 900px;
    box-shadow: 5px 5px 5px #1e1e1e;
}

header {
    background-color: #000033; /*make the color same as header.jpg*/
    color: #FFFFFF;
    font-family: Georgia, serif;
    border-bottom: 2px solid #000000;
    height: 100px;
}

header h1 {
    line-height: 200%; /*the height of one text line*/
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    height: 72px;
    margin-bottom: 0;
    font-size: 2.8em;
    font-weight: bolder;
}

#float {
    color: white;
}

#floatleft {
    float: left;
    color: white;
    padding-left: 20px;
}

#floatright {
    float: right;
    color: white;
    padding-right: 30px;
}
#floatbottom{
    clear: both;
    float: left;
    color: white;
    padding-left: 20px;
}

#footer {
    float: right;
    padding-right: 40px;
}

#navigation {
    font-weight: bold;
    padding-right: 20px;
    padding-left: 10px;
}

#hot {
    margin-top: 50px;
}

#mark {
    font-size: 1.5em;
}

#navigation li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

#navigation ul a {
    color: gold;
    text-decoration: none;
    font-size: 1.0em;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px dashed #ffffff;
}


#navigation a:hover {
    color: #FFFFFF;
    font-style: italic;
    border-bottom: 2px solid #ffffff;
    font-size: 1.1em;
}


#navigation ul li ul {
    display: none;
    text-align: left;
}


#navigation ul li:hover ul {
    display: block;
    text-align: left;
}

nav {
    font-weight: bold;
    width: 300px;
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 2px;
    float: left;

}

#search {
    width: 180px;
    height: 100px;
    margin: auto auto 50px auto;
    border: 2px solid #eb2f06;
    border-right-color: #60a3bc;
    border-top-color: #60a3bc;
    border-radius: 20px;
    background: black;
    opacity: 0.6;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

nav input {
    width: 160px;
    height: 30px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #60a3bc;
    color: white;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 7px;
}

nav select {
    width: 180px;
    height: 30px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #60a3bc;
    color: white;
    outline: none;
    font-size: 18px;
    margin: 0 50px auto 50px;

}


nav button {
    width: 130px;
    height: 30px;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 25px;
    outline: none;
    background: #60a3bc;
}

button a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    outline: none;
}

nav button, select:hover {
    cursor: pointer;
    color: #1a1a1a;
    background-image: linear-gradient(135deg, #60a3bc, #eb2f06);
    transition: 0.8s;
}

nav label p {
    color: gold;
    margin: 0 50px auto 50px;
}

#floatright ul li, #floatleft ul li,#floatbottom ul li {
    list-style-type: none;
    color: gold;
    margin-bottom: 10px;
}

#floatright a, #floatleft a,#floatbottom a {
    text-decoration: none;
    color: white;
}

#floatright a:hover, #floatleft a:hover ,#floatbottom a:hover{
    background: -webkit-linear-gradient(135deg, #60a3bc, #eb2f06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hot p {
    color: gold;
}

main {
    margin: 10px 0 0 300px;
    padding: 1px 10px 20px 10px;
    background-color: #ffffff;
    color: #006600;
}

main ul {
    list-style-position: inside;
}


main img {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

main li {
    display: inline-block;
    width: 225px;
    padding-bottom: 10px;
    margin: 10px;
    background-color: #EAEAEA;
    text-align: center;
    font-style: italic;
    font-family: Georgia, serif;
    border-radius: 10px;
    list-style-type: none;
}

main ul a {
    text-decoration: none;
}

main>ul a:hover {
    color: white;
    background-color: gray;
    font-size: large;
}

#page {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#page ul{
    display: table;
    margin: 40px auto;
}

#page li {
    display: table-cell;
}

#page li a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    horiz-align: center;
}

footer {
    color: whitesmoke;
    background-color: #000000;
    font-size: .70em;
    font-style: italic;
    padding: 10px;
    clear: both;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    display: inline;
}

footer div {
    position: fixed;
    right: 20px;
    bottom: 1px;
}
